.articleContent {
  margin: 16px 0;
  padding: 16px;
  background: white;
  border-radius: 8px;
  color: #333;
}

.articleContent h1,
.articleContent h2,
.articleContent h3,
.articleContent h4,
.articleContent h5,
.articleContent h6 {
  color: #b22222; /* 赤色 */
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.articleContent h1{
  background-color: #b22222;
  border-radius: .5rem;
  border-width: 0;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  font-size: 18px;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 2rem;
  margin-top: 1rem;
  padding: 1rem 1.4rem;
  text-align: left;
}

.articleContent h2{
  background-color: rgb(245 245 245 / var(--tw-bg-opacity));
  background-image: none;
  border-bottom-width: 4px;
  border-color: #b22222;
  border-radius: .25rem;
  border-top-width: 0;
  color: rgb(23 23 23 / var(--tw-text-opacity));
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 3rem;
  margin-top: 1rem;
  padding: 1rem 1.5rem;
}

.articleContent p {
  font-size: 16px;
  margin-bottom: 1em;
  line-height: 1.9;
}

.articleContent a {
  color: #b22222; /* 赤色 */
  text-decoration: none;
}

.articleContent a:hover {
  text-decoration: underline;
}

.articleContent ul,
.articleContent ol {
  padding-left: 2em;
  margin-bottom: 1em;
}

.articleContent blockquote {
  border-left: 4px solid #b22222; /* 赤色 */
  padding-left: 16px;
  margin: 16px 0;
  background: #f9f9f9;
}

.articleContent pre {
  background: #f4f4f4;
  padding: 16px;
  border-radius: 8px;
  overflow-x: auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9em;
}

.articleContent img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* @media (min-width: 768px) {
  .articleContent img {
    max-width: 70%;
  }
}

@media (min-width: 1024px) {
  .articleContent img {
    max-width: 100%;
  }
} */


.articleContent table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
}

.articleContent th,
.articleContent td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}
