@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'M PLUS 1', sans-serif;
  color: #333;
  background-color: #ffffff;
}

@layer utilities {
  .bg-graph-paper {
    background-image:
      linear-gradient(to right, #e5e7eb 1px, transparent 1px),
      linear-gradient(to bottom, #e5e7eb 1px, transparent 1px);
    background-size: 20px 20px;
    width: 100%;
    height: 100%;
    background-position: top left;
  }
}

.image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

span.marker {
  background: linear-gradient(transparent 50%, #ff506da8 80%);
  padding-bottom: 0.5px;
}
